[2019-12-12 08:16] martijnmichel opened #1 "Reload translations without page reload"
Currently when change anything in a translation.json file.. the page gets reloaded to update the lang.

I'm using quasar (vue) and vue-i18next. I can't provide a repo because its private. But mainly its like this:

Boot file i18n.js
[code]

Translation files:
[code]

Extend webpack section in quasar.conf.js
[code]

[2019-12-12 11:05] felixmosh commented on #1
As discussed here https://github.com/i18next/i18next/issues/1345 there is no need for this lib in order to apply hmr when resources are part of the bundler.

[2019-12-12 11:05] #1 closed

[2020-03-09 17:49] jlramosr opened #2 "Support for Razzle?"
I use Razzle in my React App to take advantage of SSR. I've installed this library for hot reload my locales in dev mode, but I obtain the next error:

[code]

And here my razzle.config.js:

[code]

How I can resolve the problem? Thanks!

[2020-03-09 18:10] felixmosh commented on #2
Hi,
I'm not familiar with razzle, there is any boilerplate or any repo that I can test it?

[2020-03-09 22:24] felixmosh commented on #2
Thanx for this use-case, razzle works a bit differently from how this lib works.

I've managed to enable client side hmr, but the server-side requires more work.

[2020-03-10 06:56] jlramosr commented on #2
Ok, I supposed it!

[2020-03-10 09:13] felixmosh commented on #2
So, I've improved the lib thanx to your issue :]
Now it uses native HMR on server-side if available.

I added a [razzle-ssr example](https://github.com/felixmosh/i18next-hmr/tree/master/examples/razzle-ssr) with i18next-hmr working in server & client side.

[2020-03-10 09:13] #2 closed

[2020-03-25 18:52] iksent opened #3 "Changes disappear after page refresh"
Hello.

I have the next problem:

1. Using next-18next + next.js + your library setted up by example
2. Imagine I have `{ "test": "Test" }` en.json and UI which outputs "Test" string using `withTranslation` HOC.
3. I change JSON to `{ "test": "Test changed" }`
4. UI instantly changes to "Test changed" without page reloading and it's great!
5. BUT: when I reload page with F5, then I see "Test" stri

[2020-03-25 19:20] felixmosh commented on #3
Hi, thank you for reporting this issue.

As you can see in the example, the server side hmr in next-js is based on usage of custom server.
Do you have it as well?
Do you see this
![image](https://user-images.githubusercontent.com/9304194/77576828-73a1cc80-6ede-11ea-8bd4-78ce0f27dd9f.png) message in the console?

[2020-03-26 04:35] iksent commented on #3
No, I have no such message, only:

[code]

This is my server.js:

[code]

and start.js:

[code]

[2020-03-26 07:52] felixmosh commented on #3
Pls check what is the value of ‘NODE_ENV’ it should be development.

[2020-03-26 15:37] iksent commented on #3
There was `undefined` inside `server.js` for some reason...

[2020-03-26 15:43] iksent commented on #3
Now everything is working like a charm! Thanks a lot for you package.

[2020-03-26 15:43] #3 closed

[2020-03-26 16:20] felixmosh commented on #3
Thanks to your issue, I've updated all examples to use more relaxed condition.

Thank you 🙏

[2020-05-05 13:20] bruqui opened #5 "Doesn't seem to work with next-i18next"
Per @felixmosh suggestion from [this issue](https://github.com/isaachinman/next-i18next/issues/626), I'm creating one here in regards to not working with [next-i18next](https://github.com/isaachinman/next-i18next).

I tried incorporating this library into my nextJS app, but it doesn't seem to be doing anything. Maybe I'm doing something wrong. Currently I have to completely restart the server to s

[2020-05-05 13:30] bruqui commented on #5
Just in case it matters, here's an example of one of my smaller pages using i18next...

[code]

[2020-05-05 15:38] felixmosh commented on #5
Thanx for opening the  issue, here.
Your setup looks ok except the only part inside `next.config.js` file, you should apply the plugin on the [client side only](https://github.com/felixmosh/i18next-hmr/blob/master/examples/next-with-next-i18next/next.config.js).

[code]

[2020-05-05 15:39] felixmosh commented on #5
Do you see anything in the console? (browser / server)?

[2020-05-05 20:22] bruqui commented on #5
So, based on your comments I made these changes, but it still isn't working. It isn't exactly what you said, but I'll list everything out and explain.

In `i18n.js`, I made a change where I'm passing i18n into applyClientHMR...

[code]

The `next.config.js` looks like this now...

[code]

The `server.js` looks like this now...

[code]

[2020-05-05 20:25] bruqui commented on #5
Oh and also, in the server logs in Terminal, I do see `[ I18NextHMR ] Server HMR has started`. In the console of the browser I also see `[I18NextHMR] Client HMR has started`

[2020-05-05 20:28] bruqui commented on #5
In order to maybe help you get this figured out, I think I'll create a starter repo with all of this so you can play around with it.

[2020-05-05 20:30] felixmosh commented on #5
It will help :]

[2020-05-05 22:15] bruqui commented on #5
Here you go...
https://github.com/bruqui/nextjs-starter-with-scss-and-i18n

[2020-05-05 22:48] felixmosh commented on #5
@bruqui You had 2 `module.exports` which the last one override the webpack config.
https://github.com/bruqui/nextjs-starter-with-scss-and-i18n/pull/1

[2020-05-06 00:25] bruqui commented on #5
SMH... LOL... can't believe I missed that I was completely overriding a module.exports with a module.exports. Makes total sense. I just missed it because I was doing a bit of copy/pasta from the how tos of the libraries. Thank you so much @felixmosh.

[2020-05-06 01:09] bruqui commented on #5
@felixmosh, Should we add some documentation for nextJS setup since it's a little different from the norm? I'd be happy to write something up.

[2020-05-06 06:46] felixmosh commented on #5
There is a working example in the examples folder.

[2020-05-06 06:46] #5 closed

[2020-05-25 13:10] Taraluktus opened #6 "Support for sub namespaces?"
Hello,

We use sub namespaces (supported by I18Next) to structure our locale files.

E.g., the namespace **client/dpcm/dashboard** would result in:
./locales/de/**client/dpcm/dashboard**.json

i18next-http-backend is configured as following:
`backend: {
      loadPath: '/locales/{{lng}}/{{ns}}.json'
},`
Which works totally fine, initial resources are fetched with correct path.

Right now, i18next-

[2020-05-25 14:01] felixmosh commented on #6
Thank you for opening this issue 🙏🏼
I wasn't ware / using this type of sub namespaces, so it doesn't support it **yet** :].

I will look into it later today.

[2020-05-25 14:04] felixmosh commented on #6
Do you use is with SSR or client only?

[2020-05-25 14:08] Taraluktus commented on #6
Client only

[2020-05-25 14:25] Taraluktus commented on #6
For completeness, the output at a fresh load:

![i18next-2](https://user-images.githubusercontent.com/18324525/82821024-9c751c80-9ea3-11ea-9754-2dfab83ee6c1.PNG)

The first 2 lines are the result of changing i18next-http-backend's backend.loadPath option to a function:
`
backend: {
  loadPath: (lngs, namespaces) => {
    console.log(lngs, namespaces);
    return '/locales/{{lng}}/{{ns}}.json';
  }

[2020-05-25 16:08] felixmosh commented on #6
@Taraluktus can you share you i18next config?

[2020-05-25 18:22] #6 closed

[2020-05-25 18:26] felixmosh commented on #6
@Taraluktus check out v1.5.0, it supports nested namespaces.
Thank you

[2020-06-08 07:30] Taraluktus opened #8 "Problem with lazy-loaded namespaces: Cannot read property 'split' of undefined"
Hello,

First, thank you for supporting nested namespaces with 1.5.0, it works really well!

Occassionally, we get this error:
![i18next-hmr](https://user-images.githubusercontent.com/18324525/84003377-3b9d1800-a96a-11ea-9fa3-67a738adc734.PNG)

It sometimes happens at page reload, not really reproducible.
After that error, HMR seems to fail completely until another page reload.
(Maybe just a timin

[2020-06-08 07:36] felixmosh commented on #8
Thank you for opening this issue 🙏🏼

I need more info regarding the scenario, something that will help me to reproduce the issue.
(In my main huge project I'm using the latest version on a daily basis, didn't encounter this issue yet :])

[2020-06-08 07:44] Taraluktus commented on #8
Thank you. I will collect more information and get back to you as soon as possible.

[2020-06-08 08:52] felixmosh commented on #8
I tried to reproduce it, I didn't defined any namespace in the i18next config, but did required in inside `useTranslation('my-lazy-ns')`, and still it works properly.

I guess that you didn't defined the lazy namespace inside the `withTranslation / useTranslation` functions which you should.

[2020-06-08 08:56] Taraluktus commented on #8
The lazy loaded namespace is defined in the useTranslation hook.

If no namespace would be given to withTranslation/useTranslation, I18Next uses the "defaultNS" from its init config.

[2020-06-08 09:02] Taraluktus commented on #8
Our config:

[code]

[2020-06-08 09:09] felixmosh commented on #8
Check this example (react-i18next), https://github.com/felixmosh/i18next-hmr/tree/lazy-nested-bug
It has a `ns` config + lazy loaded using `withTranslation`, it works

[2020-06-08 14:48] felixmosh commented on #8
@Taraluktus any update?

[2020-06-10 08:40] Taraluktus commented on #8
Sorry, I was not able to create a Codesandbox with working HMR ("WDS: Disconnected" all the time).

As I said, we always give a namespace at useTranslation call, so that's not the issue.
The example does not really reflect our issue. The problem only occurs for namespaces that are **not** given at "ns" option in i18next init, and that are **not yet** loaded by i18next-http-backend in combination w

[2020-06-10 08:50] felixmosh commented on #8
Will it a trouble for you to update my example branch with something that mimicking your scenario properly?

[2020-06-10 09:07] Taraluktus commented on #8
Of course, will update the example branch in the next few days (long weekend here).

Maybe i18next-hmr should just ignore/skip, if extractLangAndNS does not get valid values (changedFile could also be undefined on Windows, for example!). In the lazy load case, that would totally make sense since the .json wasn't loaded before by i18next, so no need to "reload" it.

[2020-06-10 09:10] felixmosh commented on #8
Ha, I didn't thought about a scenario that you are editing a json file which is not used inside the current page, in this scenario, HMR will throw but it should not.

Is this your case?

[2020-06-10 09:12] Taraluktus commented on #8
Yes! Sorry, I should have been more precise ;-)

[2020-06-10 09:13] felixmosh commented on #8
Cool, will fix this. thank you 🙏🏼

[2020-06-10 10:08] #8 closed

[2020-06-11 09:26] DovahBrownies opened #9 "Translation changes not reflected with custom `localePath`"
### Steps to reproduce:
1 - Clone: `https://github.com/felixmosh/i18next-hmr/tree/master/examples/next-with-next-i18next`
2 - Move `/locales` folder from `/public/static` to the root of the project (`~`)
3 - Change the `localesDir` in `~/next.config.js`:
[code]
4 - Add `localePath` to `next-i18next` instance config:
[code]

### Problem:
Changing any of the translations in `~/locales` will trigger

[2020-06-11 11:07] felixmosh commented on #9
Do you see any errors in the console / browser?

[2020-06-11 12:16] DovahBrownies commented on #9
Thanks for the answer, @felixmosh .
I did not see any obvious errors or issues when doing this. Everything seemed like it was (or should have been) working fine.

I did **not** add any extensions or libraries to serve the `~/locales` folder.

Any advice regarding this?

*Note:*
_In the cloned repo (without any changes), edited translations will not change on screen until a refresh is done._

[2020-06-11 14:32] felixmosh commented on #9
Next's default config serving all files that are under `public` folder, there is no good reason to move it out side.

I've just checked the example again, it works properly.
![LxXJKn37Aw](https://user-images.githubusercontent.com/9304194/84399357-6b1d8000-ac09-11ea-9c0c-ee9a49a88f83.gif)

[2020-06-11 14:39] DovahBrownies commented on #9
I can't tell where the `common.json` file is.
But like I said; it'll work perfectly under `/public`.
I'll reconsider moving all the translations to `/public`, after some thinking, and I'll probably close this issue afterwards. Thanks.

[2020-06-11 15:06] felixmosh commented on #9
Cool, glad to help :]

[2020-06-13 19:05] felixmosh commented on #9
Did it solved?

[2020-06-15 07:13] DovahBrownies commented on #9
Yes I've decided to put the translations in `/public` for now. I'll update this thread with any new info if I decide to do more digging. Thanks a bunch, @felixmosh !

[2020-06-15 07:13] #9 closed

[2020-06-18 09:23] AdrienLemaire opened #10 "Setup with webpack-dev-server"
Hi, I'm running [webpack-dev-server](https://webpack.js.org/configuration/dev-server/) locally, and couldn't get i18next-hmr to run with it.

Here's my last attempt using [devServer.before](https://webpack.js.org/configuration/dev-server/):

webpack.dev.js
[code]

Is it correct that the `require('./i18n');` from your [Usage doc](https://github.com/felixmosh/i18next-hmr#usage) refers to [this i18n.

[2020-06-18 09:31] felixmosh commented on #10
Hi,

Thank you for reporting this issue, 🙏🏼.

`require('./i18n');` refers to project's file which creates a instance of `i18next` (via `init()`).

[2020-06-18 13:57] AdrienLemaire commented on #10
@felixmosh thanks for the quick reply.
Indeed, I'm not using server-side rendering at the moment, got it. Looks like it's working :)

Just a couple notes:

* [Your example](https://github.com/felixmosh/i18next-hmr/blob/master/examples/react-i18next/src/i18n.js#L2) uses i18next-xhr-backend, which [appears to be deprecated](https://github.com/i18next/i18next-xhr-backend#deprecated)
* I had to create

[2020-06-18 13:57] #10 closed

[2020-06-18 14:35] felixmosh commented on #10
@AdrienLemaire,
1. they deprecated it recently
2. As of types, the lib has it's type (when you import from `i18next-hmr/client` / `i18next-hmr/server`), I will add for the index itself.

Thank you

[2020-06-18 14:53] felixmosh commented on #10
Types were fixed (i18next-hmr@1.5.4)

![image](https://user-images.githubusercontent.com/9304194/85036077-94e82100-b18c-11ea-9738-7fadd9bac8d8.png)

[2020-06-19 00:01] AdrienLemaire commented on #10
Thanks @felixmosh, that's some impressive support here :heart_eyes:

[2020-06-22 16:23] DovahBrownies opened #11 "HMR with Other HOCs"
Hi @felixmosh !

I'm trying to get HMR to work with 1st part HOCs but can't seem to get the job done.
Changing a translation will cause the HMR to trigger, but changed will not be reflected on screen, even after multiple refreshes.

*Note*
I just noticed that sometimes the changes will suddenly be reflected on screen (after a dozen reloads) but will then disappear if the page is reloaded again...

[2020-06-22 17:18] felixmosh commented on #11
Hi, thank you for opening this issue,

It is a bit difficult to help without some info.
Do you see in the browser `Client HMR has started`?
Do you similar message (`[ I18NextHMR ] Server HMR has started`) in the console?

[2020-06-23 05:56] DovahBrownies commented on #11
Hey @felixmosh ;
Yes, both of those messages are showing; Everything looks like it's running as normal.
I mentioned that

So I thought that maybe that would be clear. Sorry for the confusion!

[2020-06-23 10:23] felixmosh commented on #11
Ok, so what doesn't works?

Can you share small repo that reproduces it?

[2020-06-23 14:41] DovahBrownies commented on #11
@felixmosh - Apologies. It seems to be caused by my `_.app.js` code.

[2020-06-23 14:41] #11 closed

[2020-06-23 15:16] felixmosh commented on #11
Glad it got solved, thank you for the update.

[2020-06-24 13:40] nescha opened #12 "Problems on the Windows machine"
Scenario: Same App code with almost the same configurations on macOS, Ubuntu and Windows (configuration my differ in minor module versions). Execution happens in the same Chrome browser.
Doesn't work on Windows - after translation change in the locale JSON file and after a page refresh, changes are not applied.

The one noticeable difference is that console.log about the file change does not trigg

[2020-06-24 15:03] felixmosh commented on #12
Thank you for using this lib 🙏🏼

I didn't tested this lib on windows (I will able to later today).
I will investigate it later today and ping if I need more info...

My guess is that it is related to what you suspected (back slashes)

[2020-06-24 17:07] #12 closed

[2020-06-24 17:14] felixmosh commented on #12
As you've suggested lang / namespace derivation function wasn't supported back slashes.
It fixed in 1.5.5.
Thank you for reporting this issue 🙏🏼

[2020-06-26 18:01] nescha commented on #12
Great! Works now!
Thank you!

[2020-08-16 09:29] tamj0rd2 opened #16 "Translations only update on page refresh"
Thanks for making this plugin, it's great! In my case, I'm only seeing the translations reload on page refresh. Is that the expected behaviour or could my config be wrong? Here's what I've got:

i18n.ts

[code]

next.config.js

[code]

server index.ts

[code]

Even if this only reloads on page refresh, that's still a massive improvement over using nodemon

[2020-08-16 11:15] felixmosh commented on #16
Thank you for reporting this bug 🙏🏼.

The whole idea is that you **won't** need to refresh the server & the client. it uses webpack's HMR in order to make it's magic.
Pay attention to the setup of the [next-i18next example](https://github.com/felixmosh/i18next-hmr/tree/master/examples/next-with-next-i18next).

You should change in your `i18n.ts` file, so it will apply **the client** HMR.
[code]

A

[2020-08-16 11:41] tamj0rd2 commented on #16
Well that's just amazing! Thanks for spotting that :) It's working like a charm

[2020-08-16 11:41] #16 closed

[2020-08-16 11:51] felixmosh commented on #16
Good to hear :]

BTW, I didn't checked that the lib works with the latest `next-i18next@6` (which removed the need for custom server)
(I'm using a custom server at my project).

It probably does, but the serverHMR should be applied differently.

[2020-09-05 12:31] PeterKottas opened #17 "Force all languages refresh"
Lovely piece of code! Works like a charm but I noticed one problem. If I understand correctly, the code in loader.js works in a way where it only triggers once even if multiple updates are picked up. We use https://github.com/gilmarsquinelato/i18n-manager at my company (amazing tool) but the problem is it "re-saves" all translation files on save. This breaks the experience because it reloads rando

[2020-09-05 12:44] PeterKottas commented on #17
Naturally, the behavior is the same for the namespace. In my case, I have 2 languages with 4 namespaces each. Upon saving, it just randomly refreshes one namespace on one language.

[2020-09-05 13:16] PeterKottas commented on #17
I was digging around for a quick solution and put together something that works surprisingly well. I'm putting it here for you to evaluate. In my case, this basically removes the need for the lib altogether. Maybe it can be used to simplify things.

[code]

[2020-09-05 16:28] felixmosh commented on #17
Hi @PeterKottas, thank you for reporting this issue 🙏🏼.

From your code snippet you are putting the entire translation json into the webpack bundle, when I've developed the plugin, I wanted to avoid this, there is no need for parsing & re-evaluating them as part of the dependency tree.

This [line](https://github.com/felixmosh/i18next-hmr/blob/master/lib/client-hmr.js#L35) should reload only the c

[2020-09-06 01:08] PeterKottas commented on #17
Thanks for a quick reply mate. Yeah, you're absolutely right, the files end up in the bundle with this. But TBH, in dev, I am not too fused about that. Especially for smaller apps. But let's forget about my hacky workaround. With regard to the issue in this lib, it's actually [this](https://github.com/felixmosh/i18next-hmr/blob/master/lib/client-hmr.js#L27) that causes only the language parsed fro

[2020-09-06 05:58] felixmosh commented on #17
I will try to reproduce it, it is interesting, because the loader is dependent on the entire translation folder, but probably get re-run only with one of them.
Looks like this is related to https://github.com/felixmosh/i18next-hmr/blob/master/lib/plugin.js#L32

[2020-09-06 08:09] felixmosh commented on #17
As I've suspected, the lib is taking the first file that was changed.

I will fix it at the evening, thank you 🙏🏼

[2020-09-06 12:03] PeterKottas commented on #17
Good catch! That definitely might be causing that.

Awesome, thanks a lot mate! Handy little lib you got here. The code is also quite nice, I like how you solved the loader stuff, learned something today ;)

[2020-09-06 20:30] #17 closed

[2020-09-10 13:56] felixmosh commented on #17
@PeterKottas can you confirm that v1.6.0 solves the issue for you?

[2020-09-11 00:59] PeterKottas commented on #17
Tested, all works as expected now. Well done mate! Thanks.

[2020-10-02 16:21] dnbastos opened #19 "Client side hot reload doesn’t work with language codes containing a hyphen"
Languages such as `pt-BR` fail to hot reload and I need to refresh the page to see the changes.
I have to change `pt-BR` to be `pt` to work.

## Investigation
The problem starts here:
https://github.com/felixmosh/i18next-hmr/blob/master/lib/client-hmr.js#L35
[code]
the method `getLanguagePartFromCode('pt-BR')` returns `pt`

[2020-10-02 18:05] felixmosh commented on #19
Hi @dnbastos, thank you for reporting this issue 🙏🏼

I'm not familiar with `lang-country` combination, are you folders structured with the same combination?

[2020-10-02 18:32] #19 closed

[2020-10-02 18:40] felixmosh commented on #19
Pls try `v1.6.1`, it should work, you were right, there was no need for this language extraction

[2020-10-02 18:46] dnbastos commented on #19
Yes, here is my folder structure:
[code]
I`m using [IETF Language Codes](https://gist.github.com/traysr/2001377)

[2020-10-02 18:50] felixmosh commented on #19
Is `v1.6.1` solved it for you? :]

[2020-10-02 18:52] dnbastos commented on #19
Everything is working! Thanks!

[2020-10-05 19:43] josephfarina opened #20 "YAML support"
Hey thanks for creating this package 😄. I was wondering if YAML is supported? When I make changes to the locale file I receive the error I pasted below in the dev console. But when I hard refresh the translations are updated correctly.

[code]

[2020-10-05 20:24] felixmosh commented on #20
Hi, thank you for reporting this issue 🙏🏼

I wasn’t aware about the ability to use yml files as translations.
Can you give some more details? A reproduction repo should be helpful.

[2020-10-06 09:13] felixmosh commented on #20
From your stack trace looks like the error is comes from i18next, this may imply that the problem is in your config.

Can you add your i18next config?

[2020-10-08 09:14] felixmosh commented on #20
Ping? :]

[2020-10-08 16:38] josephfarina commented on #20
Hey @felixmosh sorry :) Wanted to setup a repo that reproduces the error but haven't had time yet. I will try and send one over today!

Here is my i18n config.

[code]

[2020-10-08 17:06] felixmosh commented on #20
I've investigated a bit regarding using `yaml` with i18next, by default it doesn't supports yaml, you need to provide it a parser.
From your config I don't see anything regarding it (changing the extension won't change the parser).

You can use [this example](https://github.com/felixmosh/i18next-hmr/tree/master/examples/next-with-next-i18next-without-custom-server) as your template for a reproduci

[2020-10-08 21:27] felixmosh commented on #20
Ok, I've managed to reproduce the issue.

I18next supports `yaml` but `i18next-http-backend` (the plugin which fetches missing translations) doesn't.
All you need to do is specify `backend.parse` field, unfortunately `next-i18next` overrides the `backend` field :| https://github.com/isaachinman/next-i18next/issues/257#issuecomment-705831315

[code]
[code]

[2020-10-13 08:06] felixmosh commented on #20
@josephfarina did it solved the issue for you?

[2020-10-13 14:47] josephfarina commented on #20
Hey @felixmosh thanks for the help on that solution! It solved the issue relating to `yml`, but it still doesn't quite work — not sure if it is related to this issue anymore.

That fix got rid of the `failed parsing` error. The translation xhr requests are now being made successfully. But the text still doesn't update until the page is refreshed. And also the translations under the `__NEXT_DATA__`

[2020-10-13 15:06] felixmosh commented on #20
The check for `process.browser` is a way to "override" only the backend field for the client, since `next-i18next` [doesn't allow to provide only one field of the backend](https://github.com/isaachinman/next-i18next/issues/848).
Looks like your server & client gets out of sync.

In my example with Yaml all worked fine, server & client.

[2020-10-24 12:42] felixmosh commented on #20
Since the original issue was resolved (with `parse` property)
I'm closing this one, if you have different issue pls open a new issue.

[2020-10-24 12:42] #20 closed

[2021-01-14 21:51] felixmosh opened #26 "Plugin doesn't works in Webpack 5"
**Describe the bug**
There is not watch detection in webpack 5 since it changed the way it watches folders

**Desktop (please complete the following information):**
 - OS: macOS
 - Version: 1.x

**Additional context**
Seems that there are 2 issues:
1. NormalModuleFactory `afterResolve` doesn't have loaders list
2. The entire watchRun block works differently in Webpack 5

[2021-01-15 17:17] #26 closed

[2021-02-18 08:12] geods3 opened #27 "option to hide log messages"
**Is your feature request related to a problem? Please describe.**
it would be nice to have an option in order to hide log messages

[2021-02-18 09:50] felixmosh commented on #27
All the logs? Client/ server?
How would you know that everything is working?

[2021-02-23 13:56] felixmosh commented on #27
@geods3 ?

[2021-03-09 14:17] felixmosh commented on #27
?

[2021-03-13 10:34] skrivanos opened #32 "Example of HMR with next-i18next@8 and next@10"
The API of next-i18next changes quite drastically with version 8 (Next v10 support). I'm not sure if this lib is still compatible (or if you want it to be), but if so it would be great with an example of how to get it going.

[2021-03-13 12:46] felixmosh commented on #32
Yeap I'm aware of the changes, for now there is no way to get a reference to the i18next instance (that I'm aware of).
It was discussed in here https://github.com/isaachinman/next-i18next/issues/983#event-4416833221

[2021-03-13 13:47] skrivanos commented on #32
Oh, I didn't realise you're the author of this lib (I actually created the linked issue). The quick fix has been merged, however, I'm not sure if it's applicable to this lib since it's only possible to get it _after_ App has been rendered.

[2021-03-13 20:40] felixmosh commented on #32
It doesn't matter where to put the hmr, it just need to get the instance.

[2021-03-14 11:41] felixmosh commented on #32
I've tried next-i18next v8, if you add
[code]
It works, but it reloads the page when locale are changed.
Since the new version doesn't load the locale on client side at all, (it doesn't use the i18next-xhr-backend at all), my lib won't be able to refetch the new json.

[2021-03-14 11:49] felixmosh commented on #27
Closing since the issue in inactive.
@geods3 feel free to reopen

[2021-03-14 11:49] #27 closed

[2021-03-14 13:38] skrivanos commented on #32
Thanks. I tried and couldn't get it to work that way since the i18n instance is null at that point (appWithTranslation has not been run yet). Also, the instance is re-created every time the route or locale changes. I had to do something really ugly like this:

[code]

Regarding the reloading, I'm pretty sure the i18next-http-backend is going to have to be included by default soon. See https://gith

[2021-03-14 14:03] felixmosh commented on #32
I see, unfortunately as it was discussed in [here](https://github.com/isaachinman/next-i18next/issues/983), currently, `next-i18next` creating new instance on each page nav.

I don't have anything to do (as this lib author) in order to "overcome" it.
When it will add the `i18next-http-backend` plugin it should work...

I'm open for discussion of how to solve these issues. (In my project I fixed th

[2021-04-03 07:06] stomvi commented on #32
Facing the same problem here.  I think it is more likely the `next-i18next` has to provide a way to decouple the creation of the i18n instance.

Great job.

[2021-06-02 14:43] chroth opened #58 "Adding a LICENSE file"
This project solves a huge pain with working with next-i18next. Great work! But without a license file I don't think I can use it. Would be really nice if you wanted to add one. From the package.json it looks like you are open to licensing your project under the MIT license. You'd just need to add a license file, e.g. https://choosealicense.com/licenses/mit/

[2021-06-02 14:51] #58 closed

[2021-06-09 12:32] wagerfield commented on #32
For anyone else attempting to do this, I arrived at a pretty elegant solution 🎉

1. Install these two dependencies:

[code]

2. Update the `next.config.js` like so:

[code]

3. Update the `next-i18next.config.js` like so:

[code]

4. Create a hook for applying the HMR code during development. I created mine in `hooks/use-hmr.ts` and it looks like this:

[code]

5. Import and pass `next-i18next.con

[2021-06-09 13:06] wagerfield commented on #32
@felixmosh the only issue that I've just noticed with my example above is that the client HMR code doesn't seem to be picking up the changes to non-default namespace files?

In my project I have several namespaces, but only changes to the `defaultNS` JSON files are picked up on the client.

On the server all namespaces are picked up, so when I refresh the page I see the latest changes.

Any ideas?

[2021-06-09 13:11] felixmosh commented on #32
@wagerfield thank you for sharing your idea 🙏🏼

i18next-hmr triggers a usage of `http-backend` on the client side, this means that you must configure one.

`next-i18next` v8 dropped it in favor of `getServerProps` (this become the translation fetcher) so maybe it doesn't configure all namespaces.

Can you prepare a demo repo so I will poke around?

[2021-06-09 22:34] wagerfield commented on #32
@felixmosh here we are kind Sir! https://github.com/wagerfield/i18next-hmr-hook

If you start the dev server with `yarn dev` and then try editing any of the `core.json` translation files (the `defaultNS` as specified in `next-i18next.config.js`) ...HMR works both on the client and server.

You get the same lovely logs in both environments:

...and Next does a Fast Refresh and everything works as e

[2021-06-10 06:59] felixmosh commented on #32
From what I've observed, looks like the HMR is working, You do get an update on the `page` namespace.
![image](https://user-images.githubusercontent.com/9304194/121477254-4866a880-c9d0-11eb-8e42-5d2ff3922b06.png)
But from the config, looks like `i18next` knows only the core NS.
![image](https://user-images.githubusercontent.com/9304194/121477374-71873900-c9d0-11eb-9e20-fa9eb50f2e01.png)

I've foun

[2021-06-10 08:22] wagerfield commented on #32
@felixmosh that is some excellent debugging—thank you! Commenting out that line resolves the issue.

I'm curious as to why the `ns` is being overridden here—I'll open an issue with `next-i18next` now and reference this thread.

Thanks again 🙌

[2021-06-14 12:41] wagerfield commented on #32
@felixmosh (and anyone else following this thread) the PR that I put in to resolve the client side `ns` bug in `next-i18next` that @felixmosh identified is now merged and published to npm (`next-i18next@8.5.0`)  🎉

I can confirm that both client and server side HMR works with the `useHMR` hook approach I shared above and can be seen in this demo repo:

https://github.com/wagerfield/i18next-hmr-hoo

[2021-06-14 13:23] felixmosh commented on #32
Glad to hear.
I don't think that `i18next-hmr` should be a framework specific.

[2022-05-07 15:22] VityaSchel commented on #32
Hello, I've encountered a problem while using your HMR server: when I open / route, I see `Error: Initial locale argument was not passed into serverSideTranslations` error, and when I open any of locales route like /en, it throws 404. I have followed all your steps. Can you help me?

[2022-05-21 10:17] skmohammadi commented on #32
`useHMR` hook approach works only in Server-Side.

[2022-05-22 09:26] skmohammadi commented on #32
In my case, `ns` option of `next-i18next.config` contains only **common** namespace and in any SSG pages, required namespaces adds with `serverSideTranslations` function. In this case, `i18n.options.ns` contains only **common**, so client-hmr ignore any changes on other JSON files, e.g. **faq.json**.

I we change source code client-hmr.js as below, problem will be solved:

[code]

[2022-05-22 10:39] felixmosh commented on #32
@skmohammadi can you open a separate issue? It doesn't related to this issue.
In the new issue, please provide a away to reproduce the issue.

[2022-05-23 13:26] skmohammadi opened #109 "Client-HMR not working for getStaticPages in NextJS"
**Describe the bug**
Client-HMR does not update resource that required in [SSG](https://nextjs.org/docs/basic-features/pages) page but not loaded by default in the I18N configuration.

**To Reproduce**

1. Install these two dependencies:
[code]

2. Update the **next.config.js** like so:
[code]

3. Update the **next-i18next.config.js** like so:

[code]

4. Create a hook for applying the HMR code du

[2022-05-23 13:27] skmohammadi commented on #109
If we change the source code of **client-hmr.js** as below, problem will be solved:

[code]
#108

[2022-05-23 14:02] skmohammadi commented on #32
Sample repo created:

https://github.com/skmohammadi/next-i18next-with-hmr

[2022-05-24 07:09] felixmosh commented on #109
As I've suspected, it is an issue in `next-i18next` which is not passing the namespaces to the client, so the data contains some namespace, but not the list.

On the server side it works since the `options.ns` is correct.

### server side
![image](https://user-images.githubusercontent.com/9304194/169969442-510015d6-c290-4bac-ad44-b14918bdcfe5.png)

### client side
![image](https://user-images.gith

[2022-05-24 07:38] felixmosh commented on #109
I've opened a [new issue](https://github.com/isaachinman/next-i18next/issues/1839) on `next-i18next`

[2022-05-28 05:39] skmohammadi commented on #109
**i18next** configuration may contain only default namespace **common**, so `options.ns` will be equal to `['common']`; on both the server and client sides.

[2022-05-28 05:41] felixmosh commented on #109
It is not true, in the images I've added, the values are from server & client at runtime

[2022-05-28 05:56] skmohammadi commented on #109
@felixmosh  You are right.
And what do you think about `i18n.store.data`? It includes all namespaces on both sides.

[2022-05-28 06:48] felixmosh commented on #109
It's possible, but I don't want to solve a bug of other lib.

[2022-05-29 08:17] felixmosh commented on #109
@skmohammadi if you have sometime, maybe you can prepare a PR for `next-i18next`, it should be straight forward.

[2022-05-29 10:20] skmohammadi commented on #109
It appears to be a problem with your library and implementation of *i18n.store.data* will correct it.

[2022-05-29 10:35] felixmosh commented on #109
How i18n.options related to this lib, this lib is only reading from it.
The problem is that the field is not properly passed to the client (as a proof, server side works properly).

[2022-07-17 08:15] felixmosh commented on #109
Hi @skmohammadi , can you try `v11.2.1` it should work now.
Check https://github.com/isaachinman/next-i18next/issues/1839

[2022-07-19 04:53] skmohammadi commented on #109
Hi @felixmosh. I appreciate you following up on this matter. Sure, I'll check it out.

[2022-07-19 05:09] skmohammadi commented on #109
Thank you @felixmosh. Now, it works as expected.

[2022-07-19 05:51] felixmosh commented on #109
Can we close this issue?

[2022-07-19 11:34] #109 closed

[2022-07-19 16:19] felixmosh commented on #109
Did you managed to add http-backend for the client side?
For some reason, I'm not seen where this `backend` passed to the instance on **client side** :|

[2022-07-19 17:27] #32 closed

[2022-07-19 19:25] felixmosh commented on #109
Please check the new example of Next-i18next https://github.com/felixmosh/i18next-hmr/tree/master/examples/next-with-next-i18next-v11

[2022-07-19 19:27] felixmosh commented on #32
Checkout the new example of [next-i18next](https://github.com/felixmosh/i18next-hmr/tree/master/examples/next-with-next-i18next-v11)

[2022-07-20 10:42] bryantobing12 opened #114 "example with next-i18next client side translation"
**Is your feature request related to a problem? Please describe.**
I want to use client-side only translation using `next-i18next`

In `next-i18next` if we want to use client-side translation load we use this package `i18next-http-backend` and follow this [example](https://github.com/i18next/i18next-http-backend/tree/master/example/next)

I already follow that example and can manage to make it wor

[2022-07-20 10:52] felixmosh commented on #114
Can you share a repo for this.
This error raises when there are diff between what the server returns and what the client hydarates.
Looks like you have a wrong setup...

[2022-07-20 11:05] bryantobing12 commented on #114
I use this example https://github.com/felixmosh/i18next-hmr/tree/master/examples/next-with-next-i18next-v11. and the only thing I do is remove the import of `serverSideTranslations` `and getStaticProps` from [index page](https://github.com/felixmosh/i18next-hmr/blob/master/examples/next-with-next-i18next-v11/pages/index.js).

[2022-07-20 11:12] felixmosh commented on #114
I've tried it, and looks OK to me... no errors.
But pay attention, your server side content has only keys (not translated).

[2022-07-20 11:31] felixmosh commented on #114
Please open an issue on `next-i18next`, looks like it doesn't supports client only translations

[2022-07-20 11:32] #114 closed

[2022-07-20 11:39] bryantobing12 commented on #114
I'm explaining it here https://github.com/i18next/i18next-http-backend/issues/92#issuecomment-1188936005

Other than my company requiring it, I mainly use `next.js` feature in my apps, like server-side requests (not all, some of my page static, and client side only too), image optimization, routing, etc.

The only thing that becomes a problem for me is how to manage translation for next.js dynamic

[2022-07-20 11:51] felixmosh commented on #114
Yeah, this lib solves you the update of the app (on development) when you change translations.
Before, in Next.js, you've needed to reload the server / page.

[2022-07-21 14:23] Chill-Studio commented on #32
Hello ! I am using next v12.2.2

By doing the same as in [next-i18next](https://github.com/felixmosh/i18next-hmr/tree/master/examples/next-with-next-i18next-v11) I have the HMR working ! But when I refesh the page or switch to another link and come back, then it fallback on the ol translation

[2022-07-21 14:32] felixmosh commented on #32
Hi @Chill-Studio, do you have a console message on the server console when you are changing translations?

[2022-07-21 14:41] Chill-Studio commented on #32
Just that it compiled successfully

[See](https://gifyu.com/image/SNvda)

[2022-07-21 14:49] felixmosh commented on #32
Try to delete `.next` folder and start again.

[2022-07-21 15:17] Chill-Studio commented on #32
The problem persist after deleting .`next `folder.

Do you want a project to repro  ?

[2022-07-21 15:40] Chill-Studio commented on #32
Here is the repro

https://github.com/Chill-Studio/repro.git

To start

yarn && yarn dev

[2022-08-05 04:52] alextaymx opened #115 "How to integrate into Next Js 12 (next-i18next)"
Is this intended to work in server side translations in next js version 12?
![image](https://user-images.githubusercontent.com/58934562/183004937-e9746ede-0fde-4415-b08b-3f2cdbe46922.png)

[2022-08-05 05:14] felixmosh commented on #115
Hi, I'm not sure what is the question, check the example https://github.com/felixmosh/i18next-hmr/blob/master/examples/next-with-next-i18next-v11/next.config.js

[2022-08-08 21:49] medihack opened #116 "Support for multiple locales directories"
**Is your feature request related to a problem? Please describe.**
I have a relatively complex i18next setup in my Next.js app where each feature is in its own directory and has its own locales folder. I would really love to use i18next-hmr, but from looking into the documentation and source code, it seems that only a single locales folder (specified by `localesDir`) is supported.

**Describe the

[2022-08-09 05:21] felixmosh commented on #116
Hi @medihack, do you have multiple next.config? If so, you can configure on each one of them.
If no, I'll check if it possible to add multiple watching locale folders

[2022-08-09 10:34] medihack commented on #116
Hi @felixmosh, thanks for the response. I only use one next.config.js. I also tried to add multiple i18next-hmr plugin instances with different `localesDir`, but this didn't work (client never refreshes then). My i18next setup is quite complex (and without next-i18next), as there are two parts on the site that can have a different active language side by side (by using two different i18n instances

[2022-08-09 10:43] felixmosh commented on #116
A minimal example repo will be helpful, I'll wait till then.

[2022-08-10 21:51] medihack commented on #116
Here is a repository that demonstrates the setup with multiple locales folders: https://github.com/medihack/i18next-hmr/tree/next-complex-setup
The example is in the examples folder named `next-with-complex-setup`.

It uses a custom i18next setup that allows to have the locales side by side with its features (`app/core/locales`, `app/features/feature1/locales`, `app/features/feature2/locales`). It

[2022-08-11 09:36] felixmosh commented on #116
I've played with your example, I can made the plugin to support multiple locale dirs, (did it locally), but your setup is a bit weird, since you have 2 locale paths on the server but only one on the client, therefore, it won't work without a change.

The simplest change will be,
[code]
Define all the locale paths for the plugin.

Move the json files from `features/feature1/locales` to `features/fe

[2022-08-11 10:16] medihack commented on #116
Oh yes, the proposed change would be nice.  But I wonder if a modification of the Next app is really necessary, as the client fetches its translations using an [API route](https://github.com/medihack/i18next-hmr/blob/next-complex-setup/examples/next-with-complex-setup/pages/api/locales.js) which itself resolves the namespaces and both locales paths. Not sure if I overlooked something. Do you have

[2022-08-11 10:59] felixmosh commented on #116
I've pushed several improvements to language detection, as I've suspected, there was a bug, when the path contains none namespace nor language parts, such as `feature1/locales/en.json`, `feature1` resolves as a namespace which is correct, but the language remains the rest of the path, meaning, lng was `locales/en`.

Regarding your comment, your client side configured to make a fetch to `/api/local

[2022-08-11 11:06] medihack commented on #116
Sounds good. I will give it a try when it's ready and see what modifications on my side are necessary.

[2022-08-11 11:45] felixmosh commented on #116
Check this PR, https://github.com/medihack/i18next-hmr/pull/3

[2022-08-11 12:42] medihack commented on #116
Yes, it works great. Thanks a lot!

One question. You changed the load path of the browser client to an absolute URL. I also recognized the `[ I18NextHMR ] TypeError: Only absolute URLs are supported` on the server console only. This only happens after modifying a translation for the first time when using a relative load path URL, but it still seems to work (the translation is refreshed in the bro

[2022-08-11 12:46] felixmosh commented on #116
This error is not related to i18next, but to Next.js's fetch https://github.com/node-fetch/node-fetch/issues/481,
It depends on how you configured your `i18next` backend, what happens probably is that your client only code runs on the server, Next.js runs the app on both sides.

[2022-08-11 12:49] felixmosh commented on #116
Released in [`v1.10.0`](https://github.com/felixmosh/i18next-hmr/releases/tag/v1.10.0)

[2022-08-11 12:51] medihack commented on #116
Yes, makes sense. Thanks a lot for your help and the lightning fast feature integration!

[2022-08-11 12:52] felixmosh commented on #116
Thank you for using this lib 🙏🏼

[2022-08-11 14:18] felixmosh commented on #115
Any update?

[2022-08-12 19:33] medihack opened #118 "Watch multiple i18next instances"
**Is your feature request related to a problem? Please describe.**
Unfortunately, I have another problem. As mentioned, I am using multiple i18next instances in my app, as there are parts of the site that can have different languages (and even different resources). I have extended my "complex" example a bit to have two i18next instances: https://github.com/medihack/i18next-hmr/tree/next-complex-se

[2022-08-15 09:53] felixmosh commented on #118
I've played around with it, and there are 2 options,
1. Allowing HMR to work with multiple i18next instances at once (the PR I've made, https://github.com/medihack/i18next-hmr/pull/4)
2. Passing the changed file to the getter function which in return you will need to decide which instance the HMR should update.

[code]

This way, the code of the HMR remains simple, (since your use-case is supper s

[2022-08-15 11:03] medihack commented on #118
Both options look nice. And sure, the second option would do the job (I somehow even prefer it).

[2022-08-15 11:10] felixmosh commented on #118
would you like to try it before the publish? so I will make a branch and you will try if that works for you?

[2022-08-15 12:59] medihack commented on #118
Sure, I can test it if you like.

[2022-08-15 13:22] felixmosh commented on #118
I've pushed the change to `dynamic-instance` branch and made a sample usage, https://github.com/medihack/i18next-hmr/pull/5

[2022-08-15 16:56] medihack commented on #118
Looks good. Would it be possible also to return nothing from the callback and then do nothing? That way, one could simply get informed that a language file changed and may update multiple instances manually if necessary.

[2022-08-15 16:59] felixmosh commented on #118
Why would you want to implement things manually?

[2022-08-15 17:05] medihack commented on #118
Because sometimes a language file changes that is used by two instances, but with option 2 (the callback option) only one instance could be updated :-( Yeah, I know ... difficult setup. And I totally understand if it's too exotic to be supported.

[2022-08-15 17:43] felixmosh commented on #118
You will be able to update manually, and return one of the instances (hack it a bit)

[2022-08-16 14:30] medihack commented on #118
Looks good. Thanks a lot. Closing this issue now.

[2022-08-16 14:30] #118 closed

[2022-10-21 05:45] microlabig opened #120 "Not working in simple webpack build"
Good afternoon!

I have a **simple** webpack assembly (without react/vue/next and others) to create a regular landing page. I'm confused, it's not entirely clear how to connect `i18next-hmr`.

[code]

The I18NextHMR server starts, the corresponding message `[ I18NextHMR ] Server HMR has started - callback mode` is given in the console, but there is no message in the browser console `[ I18NextHMR ]

[2022-10-21 07:28] #115 closed

[2022-10-21 07:44] felixmosh commented on #120
Hi @microlabig thank u for reporting this issue.

From the code that you've posted, there is some confusion.
There are 2 parts for the lib:
1. Webpack plugin config,
[code]
2. Runtime part, the part that is bundling inside you app (in dev mode) js.

From your code, looks like you have a static app which uses `pug`, therefore, there is nothing that runs on the client.
You should remove the `applyCl

[2022-10-30 10:24] felixmosh commented on #120
@microlabig any update?